

body{
  margin: 0;
  padding: 0;
}

.diagram {

}

.diagram__box {
  width: 400px;
  background-color: aquamarine;
}

.diagram__flag-img {

}

.diagram__percent {

}

.diagram__percent-big {

}

.diagram__percent-small {

}

.diagram__title {

}

.diagram__text {

}

.diagram__rating {

}

.diagram__svg-big {

}
