  @font-face {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/GothamPro.woff2') format('woff2'),
      url('../fonts/GothamPro.woff') format('woff'); 
  }